#Adobe Granite License Properties
#Tue Aug 30 20:47:38 IST 2016
license.product.name=Adobe Experience Manager
license.customer.name={{ aem_customername }}
license.product.version=6.2.0
license.downloadID={{ aem_license }}
