link.predated.prefix=<img\ src\=\/libs/cq/linkchecker/resources/linkcheck_o.gif\"\ alt\=\"predated\ link:\ %s\"\ title\=\"predated\ link:\ %s\"\ border\=\"0\">"
link.invalid.remove=B"true"
link.invalid.prefix=<img\ src\=\/libs/cq/linkchecker/resources/linkcheck_o.gif\"\ alt\=\"invalid\ link:\ %s\"\ title\=\"invalid\ link:\ %s\"\ border\=\"0\">"
link.expired.suffix=<img\ src\=\/libs/cq/linkchecker/resources/linkcheck_c.gif\"\ border\=\"0\">"
link.predated.suffix=<img\ src\=\/libs/cq/linkchecker/resources/linkcheck_c.gif\"\ border\=\"0\">"
link.invalid.suffix=<img\ src\=\/libs/cq/linkchecker/resources/linkcheck_c.gif\"\ border\=\"0\">"
link.wcmmodes=["EDIT","READ_ONLY","DESIGN"]
link.expired.remove=B"false"
link.predated.remove=B"false"
link.expired.prefix=<img\ src\=\/libs/cq/linkchecker/resources/linkcheck_o.gif\"\ alt\=\"expired\ link:\ %s\"\ title\=\"expired\ link:\ %s\"\ border\=\"0\">"
