versionmanager.purgePaths=["/content"]
versionmanager.maxAgeDays=I"30"
versionmanager.purgingEnabled=B"false"
versionmanager.createVersionOnActivation=B"true"
versionmanager.maxNumberVersions=I"5"
versionmanager.ivPaths=["/"]
