versionpurge.maxAgeDays=I"30"
versionpurge.recursive=B"true"
versionpurge.maxVersions=I"5"
granite.maintenance.schedule=weekly
granite.maintenance.isConservative=B"false"
versionpurge.paths=["/content"]
